/* Shared styles on all pages */

/* Experimental styles start*/

#functions-select{
    width:100%;
}
.select2-selection__choice__display {
    padding-left: 0.5em !important;
}

  #container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    /* box-shadow: -2px -2px 5px white,2px -2px 5px white; */
  }
  #container > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* padding: 10px; */
  }

  #container > nav > ul {
      display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    /* margin: 1em 0 1em 0;  */
    margin: 0;
  }
  
  #container > nav > ul > li {
    display: block;
    text-align: center;
    padding: 1em;
    color: white;
    border-bottom: none;
    width: 5em;
  } 
  #container > nav > ul > li > a {
      text-decoration: none;
    color: white;
    
  }
  #container > nav > ul > li:hover {
    /* border-bottom: 2px solid white; */
    background-color: #0088ff;
  }
  #container > nav > ul > .dropdown:hover {
    border-bottom:none;
  }
  #container > nav > ul > .dropdown:hover > .dd
  {
    display:block;
    align-items: center;
    justify-items: center;
    margin-top: 1em;
    
    /* align the dd horizontally with its nav bar */
    margin-left: -1em;
    width: 7em;

    /* align-self: center; */
  }
  .dropdown:hover > a .fa-caret-down {
    display:none;
  }
  a {
    text-decoration:none;
    /* border-bottom: 1px solid black; */
  }

  .dropdownItem {
    padding: 1em;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid black;
  }


  #container > nav > ul > li > div {
    position:absolute;
    /* padding: 0 10px; */
    padding-bottom: 0;
    
    background-color:black;
    display:none;
    background-color:aliceblue;
    box-shadow: 0px 0px 5px black;
    min-width:100px;
  }
  
  #container > nav > ul > li > div > ul {
    padding:0;
    list-style:none;
  }
  #u_a_c {
    position:relative;
    width:100%;
  /*   background-color:red; */
  }

  /* arrow for the dropdown */
  #up_arrow {
    position:relative;
    width:20px;
    height:20px;
    left:42%;
    top:-10px;
    background-color:aliceblue;
    /* background-color:grey; */
    transform:rotate(45deg);
  }

  
  #container > nav > ul > li> div > ul > li:hover {
    background-color:rgba(0,0,0,0.2);
  }

  /* dropdown text */
  #container > nav > ul > li > div > ul > li > a {
    
        padding : 5px;
        color:black;
        text-align: center;
        display:block;
        /* border-bottom: 1px solid black; */
  }

/* Experimental styles end */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1c1b1b;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* nav {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 1rem 0;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ddd;
} */

main {
    text-align: center;
    padding: 2rem;
}

button:not(.select2-selection__choice__remove) {
    margin: 5px;
}

.container {
    padding: 2rem;
}

.course {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.course-info {
    flex: 0.95; /* Add this line to make course-info take up the remaining space */
    display: flex;
    flex-direction: column;
}

.course-info > *:last-child {
    align-self: center;
}

.admin-info {
    width: 80%;
    padding: 0.5em 0;
    border-bottom: 1px solid #ddd;
    /* margin: 0 0; */
    
}

.session {
    width: 100%; /* Make the session boxes take up the full width */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e0e0e0;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}


/* #configForm {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;

    min-width: fit-content;
    max-width: 500px;
    margin: auto;
} */

.container {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;

    min-width: 50%;
    max-width: 500px;
    margin: auto;
}

.command-item {
    align-items: top;
    justify-content: space-between;
    background-color: #e0e0e0;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    width: 100%;
}

#command-list {
    list-style-type: none;
    padding: 0;
}

.command-prompt {
    background-color: rgb(31, 31, 31);
    border-radius: 5px;
    padding: 5px;
    /* margin-bottom: 5px; */
    margin: auto;
}

.command-prompt-value {
    color: rgb(188, 188, 188);
    font-family: monospace;
    font-size: 1.2em;
}

/* TODO remove this? */
/* Add Session button */
.addSessionBtn {
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    text-align: center;
    line-height: 32px; /* Adjust to center the + sign */
    margin: auto;
}

button.edit-command-btn,
button.delete-command-btn {
    background-color: #2196F3;
    color: white;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.deleteBtn, .deleteSessionBtn, .removeAdmin{
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}


.editBtn, .deleteBtn {
    width: 32px; /* Set a fixed width for the buttons */
    height: 32px; /* Set a fixed height for the buttons */
    font-size: 16px; /* Adjust the font size */
    text-align: center; /* Center the button content */
}

.deleteBtn {
    line-height: 32px; /* Adjust the line height to center the minus sign vertically */
    font-size: 1.5em;
}

.editBtn {
    display: flex;
    float: right;
    background-color: #2196F3; /* Change the background color to blue */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.editBtn:hover {
    background-color: #0b7dda;
}

.editBtn::before {
    content: "\2699"; /* Add a white cog icon */
    font-weight: bold;
    font-size: 1.5em;
}


.editBtnContainer {
    display: flex;
    flex-direction: column; /* Add this line to stack the buttons vertically */

    align-items: center;
    /* justify-content: flex-start; */
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

#command-prompt-input{
    width: 100%;
    font-size: 1.2em;
    font-family: monospace;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add Course button */
#addCourseBtn {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    width: 128px;
    height: 32px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    text-align: center;
    line-height: 32px; /* Adjust to center the + sign */
}



/* Form label and input styles */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="time"],
input[type="submit"],
select {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"],
button[type="button"]:not(.select2-selection__choice__remove) {
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

input[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #3e8e41;
}

button[class="cancel"] {
    background-color: #f44336;
}
button[class="cancel"]:hover {
    background-color: #da190b;
}

/* TODO work on this */
button[id="addAdmin"]{
    background-color: #2196F3;
    width: 1.8em;
    height: 1.8em;
    padding: 0 0;
    font-size: 1em;
    float: left;
    margin-top: 0.5em;
}


.editSessionBtn {
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    width: 32px;
    height: 32px;
    font-size: 16px;
    text-align: center;
    margin-right: 5px;
}

.editSessionBtn::before {
    content: "\2699";
    font-weight: bold;
    font-size: 16px;
    align-items: center;
}

.session-buttons {
    display: flex;
    align-items: center;
}

.session-btn, .admin-btn {
    font-size: 100%;
    width: 24px;
    height: 24px;
    padding: 0 0;
}

/* searchUser id. text box must save room on the right for the add button  */
#searchUser {
    display: flex;
    max-width: 50%;
    min-width: 30%;
    height: 2.3em;
    float: left;
    margin: 0 0;
    margin-top: 0.5em;
}

/* li {
    width: 80%;
    list-style-type: none;
    padding: 0.5em 0;
    border-bottom: 1px solid #ddd;
    margin: 0 0;
} */

li:hover,
li:focus {
    background-color: #ddd;

}

input[id="gpt4ReqLimit"], input[id="gpt4ReqCooldown"] {
    width: 4em;
    text-align: right;
    direction: rtl;
}

#instance-list {
    width: 100%;
    margin: 0 0;
    padding: 1em;
    list-style-type: none;
    text-align: left;
    border: 2px solid #989898;
    border-radius: 5px;
}

#instance-list li {
    padding: 0.5em 0;
    border-bottom: 1px solid #ddd;
}

.killInstanceBtn{
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    float: right;
    width: 1em;
    height: 1em;
    font-size: 1.5em;
    margin: 0.5em;
}

.killInstanceBtnText{
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    height: 50%;
}