profiles.json
.env
changelog.txt
config.json
startMaster.sh
startDev.sh
testDev.sh
testMaster.sh
startWebclient.sh
courses.json
node_modules
stats.json
*.log
promptCommands.json
instanceData.json
gptSecrets.json
.vs/
.DS_Store
cah-all-compact.json
cah-all-full.json
sslcert/